<div class="page-footer-item">Copyright {{ now.Year }}. All rights reserved.</div>
<a class="page-footer-item" href="/pages/privacy-policies">Privacy Policy</a>
<a class="page-footer-item" href="/pages/license">License</a>