<div class="branding-container">
    <div class="branding-logo-container">
        <img class="branding-logo" src="/app-icons/_default/icon-512.png" alt="Logo">
    </div>
    <div class="branding-title-container">
        <a href="/" class="branding-title">{{ site.Title }}</a>
    </div>
</div>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
