{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="taxonomy-container">
    <div class="taxonomy-label">{{ $label }}:</div>
    <ul class="taxonomy-list">
      {{- range . }}
        <li class="taxonomy-list-item">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{- end }}
    </ul>
  </div>
{{- end }}
