<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header id="page-header">
    {{ partial "header.html" . }}
  </header>
  <main id="page-main">
    {{ block "main" . }}{{ end }}
  </main>
  <footer id="page-footer">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
