{{ define "main" }}
<div class="pages-header">
    <h1 class="pages-header-title">
        {{ .Title }}
    </h1>
    <div class="pages-header-description">
        {{ .Content }}
    </div>
</div>
{{ $paginator := .Paginate .Pages }}
    <div class="pages-content">
        {{ range where .Site.RegularPages "Params.type" "page" }}
            <article data-article-type="page">
                <h2 class="article-title">
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </h2>
                <div class="article-content">
                    {{ .Summary }}
                </div>
                <footer class="article-footer">
                    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
                </footer>
            </article>
        {{ end }}
    </div>
{{ end }}
