{{ define "main" }}
  <div class="posts-header">
    <h1 class="posts-header-title">
      {{ .Title }}
    </h1>
    <div class="posts-header-description">
      {{ .Content }}
    </div>
  </div>
  {{ $paginator := .Paginate .Pages }}
  <div class="posts-content">
    {{ range $paginator.Pages }}
      <article data-article-type="post">
        <h2 class="article-title">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <div class="article-content">
          {{ .Summary }}
        </div>
        <footer class="article-footer">
          {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </footer>
      </article>
    {{ end }}
  </div>
  <div class="posts-footer">
    <div class="pagination-container {{ if and (not .Paginator.HasPrev) (not .Paginator.HasNext) }} no-pagination{{ end }}">
      {{ if .Paginator.HasPrev }}
        <a class="pagination-previous" href="{{ .Paginator.Prev.URL }}">Previous</a>
      {{ else }}
        <div class="pagination-previous"></div>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a class="pagination-next" href="{{ .Paginator.Next.URL }}">Next</a>
      {{ else }}
        <div class="pagination-next"></div>
      {{ end }}
    </div>
  </div>
{{ end }}
