{{ define "main" }}
<div class="products-header">
    <h1 class="products-header-title">
        {{ .Title }}
    </h1>
    <div class="products-header-description">
        {{ .Content }}
    </div>
</div>
{{ $paginator := .Paginate .Pages }}
<div class="products-content">
    {{ range where .Site.RegularPages "Params.type" "product" }}
        <article data-article-type="product">
            <h2 class="article-title">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
            <div class="article-content">
                {{ .Summary }}
            </div>
            <footer class="article-footer">
                {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            </footer>
        </article>
    {{ end }}
</div>
{{ end }}
