{{ define "main" }}
  <article data-article-type="page">
    <header class="article-header">
      <h1 class="article-title">{{ .Title }}</h1>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time class="article-time" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </header>
    <div class="article-content">
      {{ .Content }}
    </div>
    <footer class="article-footer">
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </footer>
  </article>
{{ end }}
