
@media screen and (min-width: 320px) {
    body {
        grid-template-rows: 170px auto 150px;
        row-gap: 5px;
    }
    #page-header {
        column-gap: 10px;
        padding: 5px;
        grid-template-columns: auto;
        row-gap: 10px;
    }
    #page-header .branding-container {
        /*border: 1px solid blue;*/
    }
    #page-navigation-container #page-navigation {
        display: grid;
        grid-template-columns: auto auto;
    }
    .homepage-tagline-container {
        position: relative;
        margin: 20px;
        background-image: none;
    }
    #page-footer {
        grid-template-columns: auto;
    }
}
@media screen and (min-width: 500px) {
    body {
        grid-template-rows: 140px auto 80px;
    }
    #page-header {
        padding: 10px;
        grid-template-columns: auto auto;
    }
    #page-header .branding-container {
        /*border: 1px solid green;*/
    }
    #page-navigation-container #page-navigation {
        display: grid;
        grid-template-columns: auto auto;
    }
    #page-navigation-container {
        display: grid;
        align-content: space-around;
    }
    #page-navigation-container .page-navigation-item {
        margin: 5px;
    }
    .homepage-tagline-container {
        position: relative;
        margin: 20px;
        background-image: none;
    }
    #page-footer {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 800px) {
    body {
        grid-template-rows: 140px auto 80px;
    }
    #page-header {
        padding: 10px;
    }
    #page-header .branding-container {
        /*border: 1px solid yellow;*/
    }
    .homepage-tagline-container {
        position: absolute;
        background-image: radial-gradient(circle, rgba(211, 211, 211, 0.6), rgba(169, 169, 169, 0));
    }
    #page-footer {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 1020px) {
    body {
        grid-template-rows: 100px auto 80px;
    }
    #page-header {
        align-items: start;
    }
    #page-header .branding-container {
        /*border: 1px solid orange;*/
    }
    #page-navigation-container {
        text-align: end;
    }
    #page-navigation-container #page-navigation {
        display: block;
        grid-template-columns: unset;
    }
    #page-navigation-container .page-navigation-item {
        display: inline-block;
        margin: 10px 15px;
    }
    .homepage-tagline-container {
        position: absolute;
        background-image: radial-gradient(circle, rgba(211, 211, 211, 0.6), rgba(169, 169, 169, 0));
    }
    #page-footer {
        grid-template-columns: auto auto auto;
    }
}