@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* main html element*/
html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
}

/* main body */
body {
  display: grid;
  min-height: 100%;
  box-sizing: border-box;
  /*border: 1px solid red;*/
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  background-repeat: no-repeat;
}

/* page header */
#page-header {
  display: grid;
  background-image:
          linear-gradient(136deg,transparent,#000 290%),
          linear-gradient(115deg,#EF412F,transparent 40%),
          linear-gradient(180deg,transparent 0,#EF8D2F 70%),
          radial-gradient(ellipse at -10% -180%,transparent 80%,#61AFBD 0),
          radial-gradient(ellipse at bottom,#EF8D2F 40%,transparent 80%);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* branding content | logo and title */
#page-header .branding-container {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
}

#page-header .branding-container .branding-logo-container {
  width: 80px;
}

#page-header .branding-container .branding-logo-container .branding-logo {
  max-width: 100%;
}

#page-header .branding-container .branding-title-container .branding-title {
  font-size: 30px;
  color: white;
}

/* page navigation */
#page-navigation-container {}

#page-navigation-container #page-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-navigation-container .page-navigation-item {}

/*#page-navigation-container .page-navigation-item:nth-child(3) {*/
/*  grid-column-start: 2;*/
/*}*/

#page-navigation-container .page-navigation-item-link {
  display: block;
  padding: 13px 16px;
  border-radius: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px #808080;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

#page-navigation-container .page-navigation-item .page-navigation-item-link[aria-current="page"] {
    border: 1px solid #cccccc;
    background: whitesmoke;
    color: #0468d7;
    text-shadow: none;
}

#page-navigation-container .page-navigation-item-link:hover {
  box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.16);
  background: rgba(250, 250, 250, 30%);
}

/* main content */
#page-main {
  padding: 15px;
  background-color: whitesmoke;
}

.article-time {
  margin: 10px 0 0 10px;
  display: block;
}

.article-footer {
  margin: 15px;
}

/* taxonomy */
.taxonomy-container {
  font-style: italic;
}

.taxonomy-container .taxonomy-label {
  display: inline-block;
}

.taxonomy-container .taxonomy-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.taxonomy-container .taxonomy-list .taxonomy-list-item {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
}

/* pagination footer */
.pagination-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 10px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
}
.pagination-container.no-pagination {
  display: none;
}

.pagination-container .pagination-previous {
  padding: 10px 20px;
}

.pagination-container .pagination-next {
  text-align: end;
  padding: 10px 20px;
}

/* page footer */
#page-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#page-footer .page-footer-item {
  padding: 10px 15px;
  border-radius: 40px;
  color: #02244b;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#page-footer a.page-footer-item:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: rgba(166, 166, 166, 30%);
}

/* forms */
.form-contact-container {
  margin: 15px;
  text-align: center;
  max-width: 100%;
}

.form-contact-title {
  margin: 15px;
}

.form-contact-iframe {
  width: 640px;
  max-width: 100%;
  height: 900px;
  frameborder: 0;
  marginheight: 0;
  marginwidth: 0;
}

/* store badges */
.store-badge-container {
  width: 200px;
  max-width: 100%;
}

.store-badge-container .store-badge-image {
  max-width: 100%;
}

/* homepage tagline */
[data-article-type="homepage"] {
  position: relative;
}
.homepage-tagline-container {
  /*position: absolute;*/
  display: grid;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.homepage-tagline-container .homepage-tagline {
  font-size: 40px;
}

/* store banners */
[data-article-type="homepage"] .image-responsive-container {
}

[data-article-type="homepage"] .image-responsive-container .image-responsive-image {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.image-responsive-container {
  display: grid;
  max-width: 100%;
  justify-content: center;
}

.image-responsive-container .image-responsive-image {
  width: auto;
  max-width: 100%;
  max-height: 220px;
}

/* general misc styles */
a {
  color: #00e;
  text-decoration: none;
}

h1 {
  margin: 0;
}
