<div class="store-badge-container">
    <a class="store-badge-link" href='{{ .Get "url" }}' target="_blank" rel="noopener noreferrer">
        <picture class="store-badge-picture">
            <source media="(min-width: 1024px)" srcset="{{ .Get "large" }}">
            <source media="(min-width: 768px)" srcset="{{ .Get "medium" }}">
            <img class="store-badge-image" src="{{ .Get "small" }}" alt='Get it on Google Play'>
        </picture>
    </a>
</div>
