<div class="form-contact-container">
    <div class="form-contact-title">
        Please, fill out the form below...
    </div>
    <div class="form-contact-iframe-container">
        <iframe class="form-contact-iframe" src='{{ .Get "url" }}' frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
