<div class="image-responsive-container">
    <picture class="image-responsive-picture">
        <source media="(min-width: 1024px)" srcset="{{ .Get "large" }}">
        <source media="(min-width: 768px)" srcset="{{ .Get "medium" }}">
        <img class="image-responsive-image" src="{{ .Get "small" }}" alt="{{ .Get "alt" }}">
    </picture>
</div>